.root:global(.__wab_instance) {
  position: relative;
}
.box___0TaVp {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.box__tp67Z {
  display: flex;
  flex-direction: column;
}
.box__tp67Z > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.box__tp67Z > :global(.__wab_flex-container) > *,
.box__tp67Z > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 8px;
}
.slotName {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}
.box__dJX6 {
  font-size: 48px;
}
.box___5Sp0H {
  display: flex;
  flex-direction: column;
  position: relative;
}
.box___5Sp0H > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.box___5Sp0H > :global(.__wab_flex-container) > *,
.box___5Sp0H > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 8px;
}
.bullet___3Jt9H:global(.__wab_instance) {
  position: relative;
}
.bullet__q7T8T:global(.__wab_instance) {
  position: relative;
}
.bullet__pVtAa:global(.__wab_instance) {
  position: relative;
}
.box__xrGC {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(13px + 8px) !important;
}
.svg__kWYz {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
